* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

/* Header CSS */

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: .3s;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    background-color: #000;
}

.logo {
    color: #FFF;
}

  /* Nav CSS */

nav {
    padding-right: 30px;
    margin-right: 40px;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    margin-top: 0;
}

li {
    color: #FFF;
    position: relative;
    overflow: hidden;
}

li a::after {
    background-color: #FFF;
    content: "";
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
}

li a:hover::after {
    width: 100%;
}

.is-active {
    border-bottom: 1px solid #fff;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    display: block;
    font-size: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px;
    transition: .2s;
}
  /* End of Nav CSS */

/* Endof Header CSS */

/* Main CSS */

.hero {
    position: relative;
    width: 95w;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectBody {
	position: relative;
    width: 95w;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
}

.progText-body2 {
	position: relative;
	align-items: left;
	/*justify-content: space-around;*/
	font-size: 2em;
}


.progText-body {
	margin-top: 3.7%;
	font-size: 2em;
}

#hero-image {
    height: 100vh;
    color: #FFF;
    display: flex;
    align-items: flex-end;

    background-image: url("../img/hero.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroText {
    /* position: relative;  */
    margin-bottom: 20%;
    margin-left: 35%;
    text-align: left;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
}

.hero-subtitle {
    font-size: 5rem;
    font-weight: 600;
}
.hero-small{
	font-size: 2rem;
	font-weight: 200;
}
.hero-sub {
	font-size: 1.3rem;
	font-weight: 100;
}

.logo {
  height: 50px;
  width: 55px;
}
#story1 {
    background-image: url("../img/story1.jpg");
    /* background-color: #FFF; */
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

#story2 {
    background-image: url("../img/story2.jpg");
    /* background-color: #000; */
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}
#prog1 {
	background-image: url("../img/back1.png");
    height: 100vh;
    color: #FFF;
	
    display: flex;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#prog2 {
	background-image: url("../img/back2.png");
	background-size: cover;
	width: 100%;
	height: 98vh;
	background-attachment: fixed;
    position: relative;
}
#prog3 {
	background-image: url("../img/back3.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
    position: relative;
}
#prog4 {
	background-image: url("../img/back4.png");
	background-size: cover;
	width: 100%;
	height: 105vh;
	background-attachment: fixed;
    position: relative;
}

.storyTextLight {
    color: #FFF;
    position: absolute;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 25%;
}

.storyTextLight h1 {
    font-size: 3rem;
    font-weight: 600;
}

.storyTextLight{
	margin-top: 28%;
}

.storyTextDark {
    color: #000;
    display: block;
    width: 40%;
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
}

.storyTextTitle{
	font-size: 3rem;
	color: #000;
    display: block;
    width: 30%;
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
	
}

.storyTextDark {
    font-size: 1.3rem;
    font-weight: 30;
    margin-bottom: 5%;
}

.storyTextDark p {

}
/* End of Main CSS */

/* Footer CSS */

footer {
    background-color: #000;
    width: 100%;
}

footer p {
    color: #FFF;
    text-align: center;
    padding: 10px;
}

/* End of Footer CSS */
.text-body {
    margin: 5%;
    font-size: 1.5em;
}

.progSmaller-tab {
	color: #000000;
	margin-bottom: 500px;
	font-size: 1.2em;
	font-weight: 30;
	margin-left: 2%;
	margin-right: 50%;
}
.progTextTitle{
	font-size: 3rem;
	color: #000000;
    display: block;
    width: 30%;
    position: absolute;
    margin-top: 5%;
    margin-left: 2%;
	
}
.manifesto-title {
    text-align: center;
}

.pushDownTitle{
	margin-bottom: 700px;
	font-size: 0.6em;
}

.titleNoPushDown{
	font-size: 2em;
}

.manifesto {
    color: grey;
}

.video-resources {
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
}
.resources-title {
    text-align: center;
}

iframe {
    width: 60em;
    height: 40em;
}
.tab {
	margin-left: 100px;
}

.smaller-tab { 
	margin-left: 100px;
	font-size: 1.2rem;
	font-weight: 30;
}

